.card{
    border-radius: 10px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: .5rem;
    padding: .5rem;
    .link-item{
        list-style: none;
        text-decoration: none;
        color: black;
        h3{
            font-style: none;
            font-size: 1rem;
            margin: .1rem;
        }
    }
    

}