.purchaseOrder-wrapper {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  border: 1px gray solid;
  border-radius: 10px;
  padding: 1rem;
  margin: 3rem auto 5rem auto;
  width: 55%;
  min-width: 260px;
  h1 {
    font-size: 1.3rem;
  }
  .item-countainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid gray;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
    h2 {
      font-size: 0.9rem;
      padding: 0 0.5rem;
      margin: 0;
    }
  }
  .total {
    font-size: 2rem;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 90%;
    .input-css {
      font-size: 1rem;
      padding: 0.5rem;
      margin-top: 1rem;
      border-radius: 5px;
      box-shadow: 2px 2px 10px 1px gray;
      border: none;
      padding: 0.5rem;
    }
  }
  .enviar {
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    background-color: green;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  .loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    z-index: 100;
    width: 45%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    min-width: 250px;
    padding: 3rem;
    margin: 3rem;
    font-size: 1.5rem;
  }
  .div-mje {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    z-index: 100;
    width: 45%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    min-width: 250px;
    .mensaje {
      font-size: 2rem;
      margin: 2rem 0 1rem 0;
    }
    .aceptar {
      width: 100px;
      padding: 1rem;
      margin: 1rem;
      border-radius: 5px;
      background-color: grey;
      color: white;
      text-decoration: none;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 430px) {
  .purchaseOrder-wrapper {
    h1 {
      font-size: 1.9rem;
    }
  }
}
